body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
}

code {
  font-size: 100%;
  background-color: #ffffff;
  border-radius: 0px;
}

pre {
  display: block;
  background-color: #ffffff;
  padding: 0.0px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #000000;
}

pre,
code {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
